.showprice {
  align-items: center;
  display: flex;
  margin-bottom: 13px;
  margin-top: 5px;
  height: 50px;
  width: 45%;
  max-width: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.showprice__img {
  width: 30px;
  margin-left: 10px;
}
.showprice__info {
  flex: 1;
  font-weight: 500;
}
.showprice__currency {
  color: black;
}

.showprice__price {
  color: black;
}
