.showprice {
  align-items: center;
  display: flex;
  margin-bottom: 13px;
  margin-top: 5px;
  height: 50px;
  width: 45%;
  max-width: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  /* Поменял цвет текста */
  color: black;
}

.showprice__price {
  /* Добавил отступ */
  margin-right: 1rem;
}

.showprice__img {
  width: 30px;
}

.showprice__info {
  flex: 1;
}